.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #202a56;
    color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding: 55px;
}

.left-nav {
    display: flex;
    align-items: center;
}

#footer-span span {
    display: block;
    margin-bottom: -15px;
    font-size: 0.95rem;
}